*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --red: hsl(4, 100%, 67%);
  --input-red: hsl(4, 74%, 91%);
  /* Gradient */
  --pink: hsl(348, 99%, 66%);
  --orange: hsl(13, 100%, 62%);

  /* Neutral */
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: "Roboto", sans-serif;
}

html,
body {
  line-height: 1.6;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  background: var(--blue-800);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
/* Main Card */
.main-card {
  margin: 0 auto;
  margin-top: 6rem;
  background: var(--white);
  width: 650px;
  height: 450px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  padding: 0 1.5rem;
}
.card-content h1 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
.card-content p {
  color: var(--blue-700);
  font-weight: 400;
  font-size: 0.78rem;
  line-height: 1.3rem;
  margin: 1rem 0;
}
li {
  display: flex;
  align-items: center;
  margin: 7px 0;
}
li img {
  width: 17px;
}
li span {
  font-size: 0.7rem;
  margin-left: 15px;
}
.footer {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label {
  font-size: 0.65rem;
  font-weight: 600;
}
.email-error-label {
  display: none;
  color: var(--red);
}

.email-input {
  cursor: pointer;
  border: 1px solid var(--grey);
  border-radius: 0.3rem;
  padding: 0.8rem;
  margin: 0.2rem 0 1rem;
  font-size: 0.8rem;
}
.error-email-input {
  border: 1px solid var(--red);
  background: var(--input-red);
  color: var(--red);
}
.error-email-input::placeholder {
  color: var(--red);
}
.subscribe-btn {
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--blue-800);
  color: var(--white);
  font-weight: 700;
  font-size: 0.8rem;
}
button:hover {
  background: linear-gradient(to right, var(--pink), var(--orange));
}

.desktop-img {
  display: block;
  width: 350px;
}
.mobile-img {
  display: none;
}
/* Success Card */
.success-card {
  display: none;
  margin: 0 auto;
  margin-top: 6rem;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  padding: 20px 45px;
  background: var(--white);
}
.success-card img {
  margin-top: 1rem;
  width: 40px;
  height: 40px;
}
.success-card h1 {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  line-height: 1.2;
}
.success-card p {
  font-size: 0.85rem;
  line-height: 1.3rem;
  margin: 1rem 0;
}
.success-card span {
  font-weight: bold;
}
.success-card button {
  margin-top: 1.3rem;
  cursor: pointer;
  border: none;
  width: 300px;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  background-color: var(--blue-800);
  color: var(--white);
  font-weight: 700;
  font-size: 0.8rem;
}
/* Media Queries */
@media (max-width: 425px) {
  .desktop-img,
  .success-card {
    display: none;
  }
  .success-card {
    margin-top: 1.7rem;
    width: 100%;
    max-width: 350px;
    height: 600px;
    text-align: left;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
  .success-card img {
    margin-top: 3rem;
    /* width: 60px;
    height: 60px; */
  }
  .success-card button {
    margin-top: 10rem;
  }

  .main-card {
    margin-top: 1.7rem;
    width: 350px;
    height: 700px;
    flex-direction: column-reverse;
    padding: 0;
  }
  .card-content {
    padding: 20px;
  }
  .card-image {
    max-width: 100%;
    height: 80%;
  }
  .mobile-img {
    display: block;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .card-content h1 {
    font-size: 2rem;
  }
  .card-content p {
    font-size: 0.95rem;
  }
  ul {
    margin-top: 0.75rem;
  }
  li span {
    font-size: 0.9rem;
  }
  label {
    font-size: 0.75rem;
  }
}
@media (max-width: 375px) {
  .main-card,
  .success-card {
    width: 315px;
  }
  .success-card button {
    width: 250px;
  }
}
@media (max-width: 320px) {
  .main-card,
  .success-card {
    width: 250px;
  }
  .success-card button {
    width: 250px;
  }
  .success-card h1 {
    font-size: 1.5rem;
  }
  .success-card p {
    font-size: 0.65rem;
  }
  .success-card button {
    width: 200px;
  }
}
